$white: #FFFFFF;

$blue-light: #3E73D6;
$blue: #0A4ECB;
$blue-dark: #04358F;

$gray: #6E7284;
$gray-background: #F4F5F8;
$gray-lightest: #DEDFE7;
$gray-light: #A3A6B2;
$gray-dark: #1d1e22;

$orange: #F99425;
$red: #F04716;